{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>LittInvest - Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{% static 'core/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'core/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'core/assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/home/" class="logo d-flex align-items-center">
        <img src="{% static 'core/assets/images/hCapture.PNG' %}" alt="">
        <span class="d-none d-lg-block">LittInvest</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% static '#' %}" data-bs-toggle="dropdown">
            <i class="bi bi-person-fill"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.username }}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile/">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile/">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/faq/">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/login/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->


  </header>
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/home/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile/">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/withdrawal/">
          <i class="bi bi-credit-card-2-back"></i>
          <span>Withdrawal</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/deposit/">
          <i class="bi bi-currency-dollar"></i>
          <span>Deposit</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/invest/">
          <i class="bi bi-grid"></i>
          <span>Invest</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/contact/">
          <i class="bi bi-telephone-fill"></i>
          <span>Contact</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/faq/">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/signout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Log Out</span>
        </a>
      </li>
    </ul>
  </aside>
  <main id="main" class="main">
    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TransactionHistory">Transaction History</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">User Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">User Name</div>
                    <div class="col-lg-9 col-md-8">{{ user.username }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Plans</div>
                    <div class="col-lg-9 col-md-8">{{ profile.selected_plan }}</div>
                  </div>

                </div>

                <div class="tab-pane fade pt-3" id="TransactionHistory">
                  <h5 class="card-title">TRANSACTIONS</h5>
                  <div class="row">
                    <table class="table table-borderless">
                      <div class="col-lg-3 col-md-4 label ">
                        <thead>
                          <tr>
                            <th scope="col">Types:</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                          </tr>
                        </thead>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <tbody>
                          {% for transaction in transactions %}
                            <tr>
                              <td>{{ transaction.transaction_type }}</td>
                              <td>{{ transaction.amount }}</td>
                              <td>{{ transaction.status }}</td>
                              <td>{{ transaction.timestamp.date }}</td>
                              <td>{{ transaction.timestamp.time }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </div>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="{% static 'core/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'core/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'core/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'core/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'core/assets/js/main.js' %}"></script>
</body>

</html>